transparent-button(color = white) 
	border-radius 0
	background-color rgba(0,0,0,0)
	
	if color == black
		border 1px solid black
	else 
		border 1px solid white
	
	color color
	padding 0.5rem 1.5rem
	
	&:hover
		background-color rgba(255,255,255,0.1)
	
	&:active
		background-color rgba(255,255,255,0.2)

button(background-color = white) 
	border-radius 0
	background-color background-color
	
	if dark(background-color)
		color white
	else 
		color black
		
	padding 0.5rem 1.5rem
	border none
	
	&:hover 
		
		if dark(background-color)
			background-color lighten(background-color, 10)
		else 
			background-color darken(background-color, 10)
	
	&:active
		if dark(background-color)
			background-color lighten(background-color, 20)
		else 
			background-color darken(background-color, 20)
	