form()
	// make the form children stack in a column
	display flex
	flex-direction column
	
	button 
		button(background-color: rgba(255,255,255,0.95))
	
	input 
		padding 0.4rem 0.5rem
		border-radius 0.25rem
		margin 0.5rem 0 1rem 0
		color black
		border none
	
	input:focus
	input:hover
		// box-shadow inset 0 0 0.5rem rgba(204, 255, 255, 1)