pos(top = auto, bottom = auto, left = auto, right = auto)
	top top
	bottom bottom
	left left 
	right right 

absolute(top = auto, bottom = auto, left = auto, right = auto)
	position absolute
	pos(top: top, bottom: bottom, left: left, right: right) 
	
fixed(top = auto, bottom = auto, left = auto, right = auto)
	position fixed
	pos(top: top, bottom: bottom, left: left, right: right) 

relative(top = auto, bottom = auto, left = auto, right = auto)
	position relative
	pos(top: top, bottom: bottom, left: left, right: right) 