.site-intro {
	font-family: 'Open Sans';
	
	// an ad hoc method of making the title vertically centered
	position: relative;
	top:30vh;
	
	color: white;
	text-align:center;

	h1 {
		font-size: 500%;
		
		// ensure the slogan and the website title 
		// are adaquately spaced out
		margin-bottom: 0.1em;
	}
}

.falling-ideas-container {
	background-color: #3498db;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index:-273;
}