absolute(top = auto, bottom = auto, left = auto, right = auto)
	position absolute
	top top
	bottom bottom
	left left 
	right right 
	

[data-template='app']
	
	link-color-bg = black
	link-color = lighten(grey, 50%)
	
	nav
		// positioning
		position fixed
		top 0
		left 0
		height 100vh
		
		group()
		
		+tablet()
			width 4rem
			
		+desktop()
			width 15rem
			
		background-color link-color-bg

		h1
			h1()
			text-align center
			
		h2 
			h2(1.0)
			normal()
			margin 0.5rem 0rem 0.5rem 1.5rem
			
		h1
		h2
			color link-color

		ul
			reset-list()

			li	
				link-font-size = 1rem
				height link-font-size + 2 * 0.5rem
				
				a
					height 100%
					position relative
					
					// the entire thing should do cursor pointer
					display block
					
					// built-in axis mixin
					link(color: link-color, style: 'lighten')
					
					:last-child
						// ensure the correct font-size is set
						font-size link-font-size
						
						padding 0.5rem 0
						absolute(top:0, left: 1.5rem)
					
					:first-child
						border none 
						transition border-left 0.2s ease
						absolute(top: 0, left: 0, bottom: 0)
				
				a:hover
					:first-child
						border-left 0.2rem solid white

					
		
