[data-template='app']
	
	link-color-bg = black
	link-color = lighten(grey, 50%)
	
	nav
		// positioning
		position fixed
		top 0
		left 0
		height 100vh
		
		group()
		
		+tablet()
			width 4rem
			
		+desktop()
			width 15rem
			
		background-color link-color-bg

		h1
			h1()
			text-align center
			
		h2 
			h2(1.0)
			normal()
			margin 0.5rem 0rem 0.5rem 1.5rem
			
		h1
		h2
			color white

		ul
			reset-list()

			li 
				a
					// colors 
					background-color link-color-bg
					link(color: link-color, style: 'lighten')
					display block
					padding 0.5rem 0rem
					
					:first-child
						margin 0rem 0.4rem 0rem 0.75rem
				
				a.active
					border-left 0.3rem solid white
					
					// the right-margin was determined empirically
					:first-child
						margin 0rem 0.4rem 0rem 0.65rem
		
