full-center(width = 50vw)
	width width
	position fixed
	transform translateX(-50%) translateY(-50%)
	left 50vw
	top 50vh

sky(color = #3498db)
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background-color #3498db

[data-template='index']

	// liquid-fire fixes
	// don't screw with this, future me
	height 100vh
	width 100vw
	position fixed

	section.sky
		
		sky()
		
		section.forms 
		
			// form aligned dead center of page
			full-center()
			min-width 500px
			
			// form has rounded edges
			padding 0.75rem
			border-radius 0.25rem
			
			// ensure form is hidden when we start off
			visibility hidden

			// gives a nice look
			background-color rgba(0,0,0,0.20)

			form 
				
				// make sure fields are nicely spaced out
				.field
					field(direction: left, width: 100%)
					padding 0.25rem 0.75rem
				label
					label()
					bold()
					color white
				input
					input(width: 100%)
				button
					glossy-button(color: white)
					width 100%
		
		nav
			navigation()
		
		hgroup
			
			full-center(100vw)
			color white
			
			h1
				h1()
				margin 0
			h2 
				h2()
				margin 0 0 1rem 0
				
			h1
			h2
				text-align center
				