@import '../shared/_buttons';

nav.auth
	
	align-right() 
		display flex
		flex-direction row
		justify-content flex-end
		
	align-right()
	
	padding 1rem 1rem 1rem 1rem

	button
		transparent-button()