.falling-idea 
	
	falling-idea(height, width, background-color) 
		padding = 1rem
		
		border-radius 0.75rem
		width width
		height height
		padding padding
		background-color background-color
		
		position absolute
		top -1 * (height + 2 * padding)
		
		cursor pointer

	falling-idea(5rem, 20rem, rgba(255,255,255,0.75))
