[data-component="idea-card"]
	
	/* setup for the progress bar*/
	relative()
	
	bg-color = white
	hover-bg-color = darken(bg-color, 2.5%)

	area(bg-color)
	group()

	// area adjusts margin, we want to reduce it
	margin 0.75rem 0
	hover-color hover-bg-color
	
	// adding a slight border around the idea
	box-shadow 0 0 0.1rem grey
	
	a
		span(3.25/4)
		link(color: black, style: 'none')
	
	.idea-stats
		span(0.75/4)
		group()
		
		span
			col(1/2)
			text-align right
		
		.updated-at
			color blue
	
	[data-component="progress-bar"]
		
		absolute(bottom: 0, left: 0, right: 0)
