[data-component="progress-bar"]
	
	background-color rgba(grey, 0.5)

	.progress
		height 0.15rem
		background aqua
		
		// just some sugar 
		transition width 2s ease-in-out-circ
		
		box-shadow: 0 0 0.2rem rgba(green, 0.5);