[data-component="progress-bar"]
	
	background-color grey

	.progress
		height 0.15rem
		background green
		
		// just some sugar 
		transition width 2s ease-in-out-circ
		
		box-shadow: 0 0 0.25rem rgba(green, 0.5);