<div data-template="app">
	
	<nav>
		<ul>
			<li><a href="">nav-link</a></li>
			<li><a href="">nav-link</a></li>
			<li><a href="">nav-link</a></li>
			<li><a href="">nav-link</a></li>
		</ul>
	</nav>

	<section>
		{{outlet}}
	</section>

</div>