<div data-template="app">

	<nav>
		<h1>thoughtify</h1>
		<h2>main pages</h2>
		<ul>
			<li>
				{{#link-to 'ideas'}}
			 		<span></span>
			 		<span>browse</span>
			 	{{/link-to}}
			</li>
			<li>
				{{#link-to 'profile'}}
			 		<span></span>
			 		<span>profile</span>
				{{/link-to}}
			</li>
		</ul>
	</nav>

	<section>
		{{outlet}}
	</section>

</div>