<section data-template="index">
	<section class="sky">

		{{auth-nav login='login' register='register'}}

		<hgroup>
			<h1> Thoughtify </h1>
			<h2> Lorem ipsum dolor sit amet, consectetur. </h2>
		</hgroup>

		{{#each fallingIdeas as |idea index|}}
			{{#falling-idea 
				duration=idea.duration 
				delay=idea.delay 
				rotation=idea.rotation 
				left=idea.left
				after-fall='createIdea'}}

				Idea Number {{index}}
			{{/falling-idea}}
		{{/each}}
	</section>
</section>