<section data-template="index">
	<section class="sky">

		<nav class="auth">
			<button type="button" {{action 'login'}}>Login</button>
			<button type="button" {{action 'register'}}>Register</button>
		</nav>

		<hgroup>
			<h1> Thoughtify </h1>
			<h2> Lorem ipsum dolor sit amet, consectetur. </h2>
		</hgroup>

		{{#each fallingIdeas as |idea index|}}
			{{#falling-idea 
				duration=idea.duration 
				delay=idea.delay 
				rotation=idea.rotation 
				left=idea.left
				after-fall='createIdea'
			}}

				Idea Number {{index}}
			{{/falling-idea}}
		{{/each}}
	</section>
</section>