{{auth-nav login='login' register='register'}}

<div class="website-intro">
	<h1> Thoughtify </h1>
	<h2> Lorem ipsum dolor sit amet, consectetur. </h2>
</div>

<div class="sky">
	{{#each fallingIdeas as |idea index|}}
		{{#falling-idea 
			duration=idea.duration 
			delay=idea.delay 
			rotation=idea.rotation 
			left=idea.left
			after-fall='createIdea'}}

			Idea Number {{index}}
		{{/falling-idea}}
	{{/each}}
</div>