<section data-template="login">

	<section class="form-container">
		<h1>Sign in</h1>
		
		<form {{action 'authenticate' on='submit'}}>

			<label for="identification">Login</label>
			
			{{input 
				id='identification' 
				placeholder='Username' 
				value=identification
			}}

			<label for="password">Password</label>

			{{input 
				id='password' 
				placeholder='Password' 
				type='password' 
				value=password
			}}

			<button type="submit">Login</button>
		</form>
	</section>
</section>